
<div class="separator-breadcrumb border-top"></div>
<div class="row" >
  <div class="col-md-12">
    <div class="table-responsive tableScrollable">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Sr No</th>

            <th>
              <div class="p-0">
                <label for="" class="search-header text-center">BetriebId</label>
                <input type="text" class="form-control search-input"
                  (input)="searchInterface($any($event).target.value,'interface','betriebId')">
              </div>
            </th>

            <th>
              <div class="p-0">
                <label for="" class="search-header text-center">Status</label>
                <input type="text" class="form-control search-input"
                  (input)="searchInterface($any($event).target.value,'interface','status')">
              </div>
            </th>

            <th>
              <div class="p-0">
                <label for="" class="search-header text-center">Message</label>
                <input type="text" class="form-control search-input"
                  (input)="searchInterface($any($event).target.value,'interface','msg')">
              </div>
            </th>

            <th>
              <div class="p-0">
                <label for="" class="search-header text-center">Notes</label>
                <input type="text" class="form-control search-input"
                  (input)="searchInterface($any($event).target.value,'interface','notes')">
              </div>
            </th>

            <th>
              <div class="p-0">
                <label for="" class="search-header text-center">Tag</label>
                <input type="text" class="form-control search-input"
                  (input)="searchInterface($any($event).target.value,'interface','tags')">
              </div>
            </th>
            <th>
              <div class="p-0">
                <label for="" class="search-header text-center">Shift Id</label>
                <input type="text" class="form-control search-input"
                  (input)="searchInterface($any($event).target.value,'interface','shiftId')">
              </div>
            </th>

            <th>
              <div class="p-0">
                <label for="" class="search-header text-center">Stay Time</label>
                <input type="text" class="form-control search-input"
                  (input)="searchInterface($any($event).target.value,'interface','stayTime')">
              </div>
            </th>

            <th>
              <div class="p-0">
                <label for="" class="search-header text-center">Table Plan</label>
                <input type="text" class="form-control search-input"
                  (input)="searchInterface($any($event).target.value,'interface','isTablePlan')">
              </div>
            </th>

          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let report of registrations | slice: (currentPage-1) * pageSize : (currentPage-1) * pageSize + pageSize; index as i">
            <td>
              <a> {{i+1}} </a>
            </td>
            <td> <a> {{report.betriebId}} </a> </td>
            <td> <a>{{report.status}} </a> </td>
            <td> <a>{{report.msg}} </a></td>
            <td> <a>{{report.notes}}</a></td>
            <td> <a>{{report.tags}} </a></td>
            <td> <a>{{report.shiftId}} </a></td>
            <td> <a>{{report.stayTime}} </a></td>
            <td> <a>{{report.isTablePlan}} </a></td>

          </tr>
        </tbody>
      </table>
      <!--       <ngb-pagination class="d-flex justify-content-end" [(page)]="currentPage" [(pageSize)]="pageSize" [(collectionSize)]="registrations.length"  [maxSize]="8" [boundaryLinks]="true"></ngb-pagination> -->
      <ngb-pagination class="d-flex justify-content-end" [collectionSize]="registrations.length" [(page)]="currentPage"
        [maxSize]="5" [boundaryLinks]="true" />

    </div>
  </div>
</div>